/* Gallery.css */

.main-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .flexbox-item {
    width: 30%; /* Adjust width as needed */
    margin: 10px;
  }
  
  .card {
    cursor: pointer;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-radius: 20px; 
    border: 4px double #f4ce14;
  }
  
  .card-title {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }
    
  @media screen and (max-width: 768px) {
    .flexbox-item {
      width: 100%; /* Full width for smaller screens */
    }
  }
  
    /* Styles for the modal overlay */
    .modal {
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      overflow: auto;
  }
  
  .modal-content-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }
  
  .modal-content {
      max-width: 80%;
      max-height: 80%;
  }
  
  .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #fff;
      font-size: 40px;
      cursor: pointer;
  }
  
  .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
  }
  
  .nav-btn:hover {
      background-color: rgba(0, 0, 0, 0.7);
  }
  
  .prev {
      left: 20px;
  }
  
  .next {
      right: 20px;
  }