/* .heading-2,
.heading-3 {
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: 300;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-2 {
  top: 8.081rem;
  left: calc(50% - 206.4px);
  font-size: inherit;
  letter-spacing: 3px;
  line-height: 4.781rem;
  width: 25.819rem;
  height: 4.781rem;
}
.heading-3 {
  top: 14.963rem;
  left: calc(50% - 260.5px);
  font-size: 1.375rem;
  letter-spacing: 4px;
  line-height: 2.613rem;
  width: 32.575rem;
  height: 2.613rem;
}
.article {
  position: absolute;
  width: 100%;
  top: 10.813rem;
  right: 0;
  left: 0;
  height: 26.131rem;
  background-image: url('https://res.cloudinary.com/dx78kzenz/image/upload/v1710237825/pNLbXF_ephos2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 2.813rem;
  color: #fff;
  font-family: "Open Sans";
}
.our-online-training,
.the-london-hairdressing1 {
  position: absolute;
  top: 1.694rem;
  left: calc(50% - 375.4px);
  line-height: 1.488rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46.944rem;
  height: 1.488rem;
}
.our-online-training {
  top: 3.244rem;
  left: calc(50% - 293.9px);
  width: 36.75rem;
}
.article1 {
  position: absolute;
  width: 100%;
  top: 36.944rem;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 6.475rem;
  text-align: center;
  font-size: 0.813rem;
  color: #666;
  font-family: "Open Sans";
}
.divet-pb-row {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 540px);
  width: 67.5rem;
  height: 37.5rem;
}
.article2 {
  position: absolute;
  width: 100%;
  top: 43.419rem;
  right: 0;
  left: 0;
  background-color: #f7f7f7;
  height: 45rem;
}
.nav-list3,
.nav-list4,
.nav-list5,
.the-london-hairdressing2 {
  position: absolute;
  line-height: 1.488rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 1.488rem;
}
.the-london-hairdressing2 {
  top: 2.188rem;
  left: 0;
  font-size: 0.938rem;
  letter-spacing: 3px;
  width: 24.425rem;
}
.nav-list3,
.nav-list4,
.nav-list5 {
  top: 0.788rem;
  letter-spacing: 1px;
}
.nav-list3 {
  left: 42.919rem;
  width: 1.913rem;
  min-width: 1.913rem;
}
.nav-list4,
.nav-list5 {
  left: 46.194rem;
  width: 9.794rem;
}
.nav-list5 {
  left: 57.35rem;
  width: 14.306rem;
}
.divet-pb-row1 {
  position: absolute;
  top: calc(50% - 31.9px);
  left: calc(50% - 600px);
  width: 75rem;
  height: 3.988rem;
}
.footer1 {
  position: absolute;
  width: 100%;
  top: 189.356rem;
  right: 0;
  left: 0;
  background-color: #444;
  height: 8.363rem;
  text-align: left;
  font-size: 0.875rem;
  color: #fff;
  font-family: "Open Sans";
}
.onlinecourse {
  width: 100%;
  height: 197.719rem;
  position: relative;
  background-color: #fff;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .heading-2 {
    font-size: 2.25rem;
    line-height: 3.813rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-2 {
    font-size: 1.688rem;
    line-height: 2.875rem;
  }
  .heading-3 {
    font-size: 1.125rem;
    line-height: 2.063rem;
  }
}



.heading-1 {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 3.75rem;
    font-weight: 300;
    font-family: inherit;
    white-space: nowrap;
  }
  .divet-pb-column-icon {
    height: 4.375rem;
    width: 114rem;
    position: absolute;
    margin: 0 !important;
    top: -2.25rem;
    left: -38.7rem;
    z-index: 1;
  }
  .boolean-operator,
  .number-comparator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .number-comparator {
    width: 36.619rem;
    justify-content: flex-start;
    position: relative;
  }
  .boolean-operator {
    align-self: stretch;
    justify-content: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
  }
  .nav-list6,
  .nav-list7,
  .nav-list8,
  .nav-list9 {
    position: relative;
    letter-spacing: 1px;
    line-height: 0.875rem;
    text-transform: uppercase;
  }
  .nav-list6 {
    display: inline-block;
    min-width: 4.931rem;
  }
  .nav-list7,
  .nav-list8,
  .nav-list9 {
    white-space: nowrap;
  }
  .nav-list9 {
    font-size: 0.8rem;
    display: inline-block;
    min-width: 6.688rem;
  }
  .nav-list10 {
    width: 1.075rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: Inter;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .nav-list10,
  .nav-list11,
  .nav-list12,
  .nav-list13,
  .nav-list14,
  .nav-list15,
  .nav-list16 {
    position: relative;
    letter-spacing: 1px;
    line-height: 0.875rem;
    text-transform: uppercase;
  }
  .nav-list12,
  .nav-list13,
  .nav-list14,
  .nav-list15,
  .nav-list16 {
    display: inline-block;
    min-width: 4.194rem;
  }
  .nav-list13,
  .nav-list14,
  .nav-list15,
  .nav-list16 {
    min-width: 4.388rem;
  }
  .nav-list15,
  .nav-list16 {
    min-width: 4.744rem;
  }
  .nav-list16 {
    min-width: 6.731rem;
    white-space: nowrap;
  }
  .nav-list-item-link-her-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.35rem;
    text-align: left;
    font-size: 0.938rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Open Sans";
  }
  .image-analyzer {
    width: 80.038rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1.438rem;
    max-width: 100%;
  }
  .image-analyzer-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    font-family: "Cormorant Garamond";
  }
  @media screen and (max-width: 1500px) {
    .heading-1 {
      display: none;
    }
    .number-comparator {
      width: 0;
    }
  }
  @media screen and (max-width: 450px) {
    .nav-list-item-link-her-parent {
      display: none;
    }
    .image-analyzer {
      width: 0;
    }
  }

  
  .hairdressing-academy,
  .londons-best-fast-track {
    margin: 0;
  }
  .heading-3-container1 {
    width: 100%;
  }
  .heading-3-container {
    margin: 0;
    width: 37.288rem;
    position: relative;
    font-size: inherit;
    letter-spacing: 3px;
    line-height: 4.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    display: flex;
    align-items: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    max-width: 100%;
  }
  .next-term-starting,
  .week-nvq-diploma {
    margin: 0;
  }
  .week-nvq-diploma-container1 {
    width: 100%;
  }
  .week-nvq-diploma-container {
    margin: 0;
    height: 6.956rem;
    width: 25.869rem;
    position: relative;
    font-size: inherit;
    letter-spacing: 3px;
    line-height: 3.163rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: inherit;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .week-nvq-diploma-next-term-sta-wrapper {
    width: 37.288rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    font-size: 1.375rem;
  }
  .enrol-now {
    width: 7.813rem;
    position: relative;
    letter-spacing: 1px;
    line-height: 2.125rem;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 7.813rem;
  }
  .link {
    align-self: stretch;
    border-radius: 34px;
    background-color: #fff;
    border: 2px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.469rem 1.125rem 0.531rem 1.375rem;
    white-space: nowrap;
  }
  .link1,
  .link2 {
    position: absolute;
    top: 0;
    border-radius: 7px;
    width: 0.438rem;
    height: 0.438rem;
    z-index: 1;
  }
  .link1 {
    left: 0;
    background-color: #fff;
  }
  .link2 {
    left: 1.063rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .link-group {
    height: 0.438rem;
    width: 1.5rem;
    position: relative;
  }
  .frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 4.519rem 0 4.5rem;
  }
  .link-parent {
    width: 10.538rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0.888rem;
  }
  .divet-pb-slide-inner {
    width: 37.288rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.77);
  }
  .divet-pb-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3.594rem 1.25rem 2.3rem;
    box-sizing: border-box;
    gap: 0.638rem;
    background-image: url('https://res.cloudinary.com/dx78kzenz/image/upload/v1710237825/pNLbXF_ephos2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    max-width: 100%;
  }
  .divet-pb-module,
  .divet-pb-module-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .divet-pb-module {
    flex: 1;
    overflow: hidden;
  }
  .divet-pb-module-wrapper {
    align-self: stretch;
    padding: 0 0 2rem;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1000px) {
    .heading-3-container {
      font-size: 2rem;
      line-height: 3.625rem;
    }
  }
  @media screen and (max-width: 450px) {
    .heading-3-container {
      font-size: 1.5rem;
      line-height: 2.688rem;
    }
    .week-nvq-diploma-container {
      font-size: 1.125rem;
      line-height: 2.5rem;
    }
    .divet-pb-slide {
      padding-top: 2.313rem;
      padding-bottom: 1.5rem;
      box-sizing: border-box;
    }
  }


  .link-enrolment-1-300x300png {
    align-self: stretch;
    height: 18.75rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .heading-4 {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .heading-4-link-nvq-enrolme-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 4.594rem 0 4.625rem;
  }
  .divet-pb-blurb-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    box-sizing: border-box;
    gap: 1.875rem;
    min-width: 14.063rem;
    text-align: center;
    font-size: 1.125rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 450px) {
    .heading-4-link-nvq-enrolme-wrapper {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }
  
  

  .link-events-300x300png {
    align-self: stretch;
    height: 18.75rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .masterclasses-online,
  .training {
    margin: 0;
  }
  .heading-4-container {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .heading-4-link-masterclass-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 2.156rem 0 2.188rem;
  }
  .divet-pb-blurb-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    box-sizing: border-box;
    gap: 1.875rem;
    min-width: 14.063rem;
  }
  .divet-pb-row-wrapper,
  .divet-pb-row2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .divet-pb-row2 {
    width: 67.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 3.125rem 0.625rem 3.75rem;
    gap: 4.963rem;
  }
  .divet-pb-row-wrapper {
    align-self: stretch;
    justify-content: center;
    padding: 0 1.25rem;
    text-align: center;
    font-size: 1.125rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1500px) {
    .divet-pb-row2 {
      gap: 2.5rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .divet-pb-row2 {
      gap: 1.25rem;
      padding-top: 2rem;
      padding-bottom: 2.438rem;
      box-sizing: border-box;
    }
  }

  


  .oladimeji-odunsi-n5ae6hoy6do-u-icon {
    height: 25.138rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 20.688rem;
  }
  .heading-31 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 3.125rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
  }
  .at-the-london,
  .programmes-with-the,
  .training1 {
    margin: 0;
  }
  .at-the-london-container {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .all-20-week-programmes,
  .private-institutionalised-styl {
    margin: 0;
  }
  .all-20-week-programmes-container {
    align-self: stretch;
    position: relative;
    line-height: 1.488rem;
  }
  .fit-in-with,
  .london,
  .real-working-salon,
  .we-offer-funded,
  .with-classes-running {
    margin: 0;
  }
  .we-offer-funded-container {
    position: relative;
    line-height: 1.488rem;
  }
  .at-the-london-hairdressing-aca-parent,
  .heading-3-about-us-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .at-the-london-hairdressing-aca-parent {
    gap: 0.938rem;
    font-size: 0.938rem;
    color: #505050;
  }
  .heading-3-about-us-parent {
    gap: 0.569rem;
  }
  .at-the-london1,
  .providing-nvq-diplomas,
  .student-pass-rate {
    margin: 0;
  }
  .vtct {
    color: #2ea3f2;
  }
  .span {
    color: #505050;
  }
  .internationally-recognised-gov {
    margin: 0;
  }
  .at-the-london-container1 {
    position: relative;
    font-size: 0.938rem;
    line-height: 1.488rem;
    color: #505050;
  }
  .frame-group,
  .oladimeji-odunsi-n5ae6hoy6do-u-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-group {
    width: 31.169rem;
    flex-direction: column;
    gap: 0.938rem;
    min-width: 31.169rem;
  }
  .oladimeji-odunsi-n5ae6hoy6do-u-parent {
    width: 66.775rem;
    flex-direction: row;
    gap: 3.713rem;
  }
  .link-level-2-1-300x300png {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .heading-41 {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .divet-pb-blurb-content2,
  .heading-4-link-level-2-b-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 1.431rem 0 1.438rem;
  }
  .divet-pb-blurb-content2 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    gap: 1.875rem;
  }
  .divet-pb-module1 {
    height: 24.25rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625rem 0.625rem 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .link-courses-2-300x300png {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .heading-42 {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .divet-pb-blurb-content3,
  .heading-4-link-level-3-i-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0.55rem 0 0.563rem;
  }
  .divet-pb-blurb-content3 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    gap: 1.875rem;
  }
  .divet-pb-module2 {
    height: 24.25rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625rem 0.625rem 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .link-62a3fb97a4d833c31bd8afa {
    width: 18.5rem;
    height: 18.75rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .heading-43 {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .heading-4-link-models-need-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 4.619rem 0 4.625rem;
  }
  .divet-pb-blurb-content4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.125rem 0.625rem 0.138rem;
    gap: 1.875rem;
  }
  .article3,
  .divet-pb-module3,
  .divet-pb-row3 {
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .divet-pb-module3 {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 0.625rem 0.625rem 1.25rem;
  }
  .article3,
  .divet-pb-row3 {
    align-self: stretch;
  }
  .divet-pb-row3 {
    display: grid;
    flex-direction: row;
    padding: 2.5rem 0;
    gap: 3.713rem;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    text-align: center;
    font-size: 1.125rem;
  }
  .article3 {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 6.25rem 26.25rem 3.756rem;
    gap: 2.55rem;
    flex-shrink: 0;
    text-align: left;
    font-size: 1.563rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1500px) {
    .frame-group {
      flex: 1;
      min-width: 100%;
    }
    .oladimeji-odunsi-n5ae6hoy6do-u-parent {
      flex-wrap: wrap;
    }
    .divet-pb-row3 {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(240px, 417px));
    }
    .article3 {
      padding-top: 4.063rem;
      padding-bottom: 2.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1000px) {
    .oladimeji-odunsi-n5ae6hoy6do-u-parent {
      gap: 1.875rem;
    }
    .divet-pb-row3 {
      gap: 1.875rem;
      padding-top: 1.625rem;
      padding-bottom: 1.625rem;
      box-sizing: border-box;
      grid-template-columns: minmax(240px, 1fr);
    }
    .article3 {
      gap: 1.25rem;
      padding: 2.625rem 6.563rem 1.563rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .heading-31 {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
    .heading-4-link-models-need-wrapper {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }

  
  .link-taking-notes-e151338398 {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .heading-44 {
    flex: 1;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
  }
  .data-aggregator,
  .divet-pb-blurb-content5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 4.513rem 0 4.5rem;
  }
  .divet-pb-blurb-content5 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    gap: 1.875rem;
  }
  .divet-pb-module4 {
    height: 23.188rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625rem 0.625rem 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .link-level3-2-300x279jpg {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .heading-45 {
    width: 4.738rem;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 4.738rem;
  }
  .divet-pb-blurb-content6,
  .heading-4-link-gallery-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1.25rem;
  }
  .divet-pb-blurb-content6 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0.013rem 0.625rem;
    gap: 1.875rem;
  }
  .divet-pb-module5 {
    height: 22.938rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625rem 0.625rem 1.25rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .link-78531658-2-300x281jpg {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .heading-46 {
    width: 6.9rem;
    position: relative;
    line-height: 1.125rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 6.9rem;
  }
  .divet-pb-blurb-content7,
  .heading-4-link-contact-us-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1.25rem;
  }
  .divet-pb-blurb-content7 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 0.625rem 0.013rem;
    gap: 1.875rem;
  }
  .divet-pb-module6 {
    height: 23.063rem;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 0.625rem 0.625rem 1.25rem;
  }
  .article4,
  .divet-pb-module6,
  .divet-pb-row4 {
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .divet-pb-row4 {
    width: 67.5rem;
    display: grid;
    justify-content: flex-start;
    padding: 2.5rem 0;
    gap: 3.713rem;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
  .article4 {
    align-self: stretch;
    background-color: rgba(252, 221, 207, 0.5);
    display: flex;
    justify-content: center;
    padding: 3.75rem 1.25rem;
    flex-shrink: 0;
    z-index: 1;
    margin-top: -0.006rem;
    text-align: center;
    font-size: 1.125rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1000px) {
    .divet-pb-row4 {
      gap: 1.875rem;
      justify-content: center;
      grid-template-columns: minmax(240px, 1fr);
    }
    .article4 {
      padding-bottom: 2.438rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .data-aggregator {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
    .divet-pb-row4 {
      padding-top: 3.75rem;
      padding-bottom: 1.625rem;
      box-sizing: border-box;
    }
  }

  

  .heading-32 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 3.125rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .standards-of-teaching,
  .we-allow-students {
    margin: 0;
  }
  .we-allow-students-container {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .on-real-clientele,
  .our-entire-course {
    margin: 0;
  }
  .our-entire-course-container {
    position: relative;
    line-height: 1.488rem;
  }
  .learning-without-the,
  .we-offer-a {
    margin: 0;
  }
  .we-offer-a-container {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .access-to-funding,
  .options-available-to {
    margin: 0;
  }
  .access-to-funding-container {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .input-filter,
  .we-allow-students-more-one-on-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-allow-students-more-one-on-parent {
    gap: 0.938rem;
    font-size: 0.938rem;
    color: #505050;
  }
  .input-filter {
    gap: 0.569rem;
    min-width: 30.756rem;
    flex-shrink: 0;
  }
  .toa-heftiba-h8y-8tbksnw-unspla-icon {
    height: 21.263rem;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 20.688rem;
  }
  .input-filter-parent,
  .value-comparator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .input-filter-parent {
    width: 67.5rem;
    justify-content: flex-start;
    gap: 4.85rem;
  }
  .value-comparator {
    align-self: stretch;
    justify-content: center;
    padding: 0 1.25rem 2.5rem;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.563rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1500px) {
    .input-filter-parent {
      gap: 2.438rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .input-filter {
      flex: 1;
      min-width: 100%;
    }
    .input-filter-parent {
      flex-wrap: wrap;
      gap: 1.188rem;
    }
  }
  @media screen and (max-width: 450px) {
    .heading-32 {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }


  .keren-perez-lpkso44p3eg-unspla-icon {
    width: 31.894rem;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
  }
  .heading-33 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 3.125rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    min-width: 7.825rem;
    flex-shrink: 0;
  }
  .including-some-of,
  .we-offer-learners {
    margin: 0;
  }
  .we-offer-learners-container {
    position: relative;
    line-height: 1.488rem;
  }
  .classes-are-taught,
  .flexibility-to-study {
    margin: 0;
  }
  .classes-are-taught-container {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .environment,
  .our-entire-course1 {
    margin: 0;
  }
  .our-entire-course-container1 {
    position: relative;
    line-height: 1.488rem;
    display: inline-block;
    max-width: 100%;
  }
  .resources,
  .we-offer-some {
    margin: 0;
  }
  .we-hold-a,
  .we-offer-some-container {
    display: inline-block;
    max-width: 100%;
  }
  .ofsted-graded-good,
  .we-hold-a,
  .we-offer-some-container {
    position: relative;
    line-height: 1.488rem;
  }
  .heading-3-training-parent,
  .we-offer-learners-exclusive-wo-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .we-offer-learners-exclusive-wo-parent {
    gap: 0.938rem;
    flex-shrink: 0;
    font-size: 0.938rem;
    color: #505050;
  }
  .heading-3-training-parent {
    gap: 0.569rem;
    min-width: 31.256rem;
  }
  .article-wrapper,
  .article5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .article5 {
    flex: 1;
    background-color: #f7f7f7;
    justify-content: center;
    padding: 5.5rem 26.25rem 12.831rem;
    gap: 3.713rem;
  }
  .article-wrapper {
    align-self: stretch;
    justify-content: flex-start;
    padding: 0 0 1.656rem;
    text-align: left;
    font-size: 1.563rem;
    color: #333;
    font-family: "Open Sans";
  }
  @media screen and (max-width: 1825px) {
    .heading-3-training-parent,
    .keren-perez-lpkso44p3eg-unspla-icon {
      flex: 1;
    }
    .article5 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1500px) {
    .heading-3-training-parent {
      min-width: 100%;
    }
    .article5 {
      gap: 1.875rem;
      padding-left: 13.125rem;
      padding-right: 13.125rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1000px) {
    .article5 {
      padding: 3.563rem 6.563rem 8.313rem;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .heading-33 {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
    .article5 {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      box-sizing: border-box;
    }
  }

  .heading-11 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: 1px;
    line-height: 1.625rem;
    font-weight: 300;
    font-family: inherit;
  }
  .heading-1-the-london-hairdre-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 0.394rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .nav-list17 {
    position: relative;
    letter-spacing: 1px;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: inline-block;
    min-width: 4.631rem;
  }
  .nav-list18,
  .nav-list19,
  .nav-list20,
  .nav-list21 {
    position: relative;
    letter-spacing: 1px;
    line-height: 1.488rem;
    text-transform: uppercase;
  }
  .nav-list20 {
    display: inline-block;
    min-width: 7.3rem;
  }
  .nav-list21 {
    width: 1.075rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: Inter;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .nav-list-item-link-nvq-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.181rem;
  }
  .frame-parent1,
  .nav-list-item-link-her-group {
    display: flex;
    flex-direction: row;
    max-width: 100%;
  }
  .nav-list-item-link-her-group {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.363rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Open Sans";
  }
  .frame-parent1 {
    align-self: stretch;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
    gap: 1.25rem;
  }
  .contact,
  .infothelhacouk {
    margin: 0;
  }
  .contact-infothelhacouk {
    position: relative;
    letter-spacing: 1px;
    line-height: 1.875rem;
  }
  .lha-logopng-icon,
  .vtct-approved-web-rgbjpg-icon {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .lha-logopng-icon {
    height: 6.831rem;
    width: 5.781rem;
  }
  .vtct-approved-web-rgbjpg-icon {
    align-self: stretch;
    height: 6.081rem;
    max-width: 100%;
    z-index: 1;
  }
  .vtct-approved-web-rgbjpg-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem 0 0;
    box-sizing: border-box;
    min-width: 5.375rem;
  }
  .img-1835-1024x574jpg-icon {
    align-self: stretch;
    height: 4.631rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 2;
  }
  .img-1835-1024x574jpg-wrapper {
    flex: 1;
    flex-direction: column;
    padding: 0.5rem 0 0;
    box-sizing: border-box;
    min-width: 5.375rem;
  }
  .contact-infothelhacouk-parent,
  .img-1835-1024x574jpg-wrapper,
  .lha-logopng-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .lha-logopng-parent {
    align-self: stretch;
    flex-direction: row;
    row-gap: 20px;
  }
  .contact-infothelhacouk-parent {
    width: 22.294rem;
    flex-direction: column;
    gap: 0.625rem;
    min-width: 22.294rem;
    max-width: 100%;
  }
  .nav-list22,
  .nav-list23,
  .nav-list24,
  .nav-list25,
  .nav-list26,
  .nav-list27 {
    position: relative;
    letter-spacing: 1px;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: inline-block;
    min-width: 7.706rem;
  }
  .nav-list23,
  .nav-list24,
  .nav-list25,
  .nav-list26,
  .nav-list27 {
    min-width: 3.938rem;
  }
  .nav-list24,
  .nav-list25,
  .nav-list26,
  .nav-list27 {
    min-width: 4.125rem;
  }
  .nav-list26,
  .nav-list27 {
    min-width: 4.456rem;
  }
  .nav-list27 {
    min-width: 6.325rem;
  }
  .frame-wrapper1,
  .nav-list-item-link-mas-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nav-list-item-link-mas-parent {
    align-self: stretch;
    flex-direction: row;
    gap: 1.363rem;
  }
  .frame-wrapper1 {
    width: 37.488rem;
    flex-direction: column;
    padding: 0.713rem 0 0;
    box-sizing: border-box;
    max-width: 100%;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
  }
  .frame-parent2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.25rem;
    font-size: 0.938rem;
    color: #666;
    font-family: "Open Sans";
  }
  .frame-container,
  .frame-div,
  .frame-parent2 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-div {
    width: 72.075rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.263rem;
  }
  .frame-container {
    width: 117.075rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
    text-align: left;
    font-size: 1.625rem;
    color: #333;
    font-family: "Cormorant Garamond";
  }
  @media screen and (max-width: 1500px) {
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .contact-infothelhacouk-parent {
      flex: 1;
    }
    .frame-parent2 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1000px) {
    .nav-list-item-link-her-group,
    .nav-list-item-link-mas-parent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 450px) {
    .heading-11 {
      font-size: 1.313rem;
      line-height: 1.313rem;
    }
    .lha-logopng-parent {
      flex-wrap: wrap;
    }
    .contact-infothelhacouk-parent {
      min-width: 100%;
    }
  }



  .divet-pb-module-icon {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .full-cutting-package,
  .plus-bonus-video,
  .symbol {
    position: absolute;
    top: 13.775rem;
    left: 1.25rem;
    font-size: 1rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 11.444rem;
    height: 1.7rem;
  }
  .plus-bonus-video,
  .symbol {
    top: 15.538rem;
    width: 9.919rem;
  }
  .symbol {
    top: 18.65rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime {
    top: 18.463rem;
    left: 2.875rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .div,
  .enrol-anytime,
  .symbol1 {
    position: absolute;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .symbol1 {
    top: 20.713rem;
    left: 1.25rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .div {
    top: 20.525rem;
    left: 2.5rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 1.163rem;
    height: 1.488rem;
    min-width: 1.163rem;
  }
  .strong-course-container1 {
    width: 100%;
  }
  .strong-course-container,
  .the-one-length {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .strong-course-container {
    top: 22.219rem;
    width: 8rem;
    min-width: 8rem;
  }
  .the-one-length {
    top: 23.769rem;
    width: 9.413rem;
  }
  .long-graduation {
    top: 25.319rem;
    width: 8.6rem;
  }
  .bonus-tutorials-,
  .long-graduation,
  .short-graduation,
  .swept-curtain,
  .uniform-layers {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .uniform-layers {
    top: 26.869rem;
    width: 7.631rem;
    min-width: 7.631rem;
  }
  .bonus-tutorials-,
  .short-graduation,
  .swept-curtain {
    top: 28.419rem;
    width: 8.969rem;
  }
  .bonus-tutorials-,
  .swept-curtain {
    top: 29.969rem;
    width: 15.856rem;
  }
  .swept-curtain {
    top: 31.519rem;
    width: 10.138rem;
  }
  .divet-pb-column {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 48.6rem;
    left: 0;
    background-color: #fff;
    height: 34.125rem;
    text-align: left;
    font-size: 0.813rem;
    color: #333;
    font-family: "Open Sans";
  }

  
  .divet-pb-module-icon1 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .methods,
  .root-colour-application,
  .symbol2 {
    position: absolute;
    top: 13.775rem;
    left: 1.25rem;
    font-size: 1rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 13.581rem;
    height: 1.7rem;
  }
  .methods,
  .symbol2 {
    top: 15.538rem;
    width: 4.813rem;
    min-width: 4.813rem;
  }
  .symbol2 {
    top: 18.65rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime1 {
    top: 18.463rem;
    left: 2.875rem;
    font-size: 1rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .emphasis-20,
  .enrol-anytime1,
  .introduction-to-developers,
  .strong-course,
  .symbol3 {
    position: absolute;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .symbol3 {
    top: 20.713rem;
    left: 1.25rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .emphasis-20,
  .introduction-to-developers,
  .strong-course {
    line-height: 1.488rem;
    height: 1.488rem;
  }
  .emphasis-20 {
    top: 20.469rem;
    left: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 1.119rem;
    min-width: 1.119rem;
  }
  .introduction-to-developers,
  .strong-course {
    left: 1.25rem;
  }
  .strong-course {
    top: 22.219rem;
    width: 7.569rem;
    min-width: 7.569rem;
  }
  .introduction-to-developers {
    top: 23.769rem;
    width: 13.363rem;
  }
  .barrier-protection {
    top: 25.319rem;
    width: 9.294rem;
  }
  .barrier-protection,
  .coverage,
  .methods-achieving-maximum,
  .rootregrowth-application,
  .sectioning {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .sectioning {
    top: 26.869rem;
    width: 5.669rem;
    min-width: 5.669rem;
  }
  .coverage,
  .methods-achieving-maximum,
  .rootregrowth-application {
    top: 28.419rem;
    width: 13.194rem;
  }
  .coverage,
  .methods-achieving-maximum {
    top: 29.969rem;
    width: 14.763rem;
  }
  .coverage {
    top: 31.519rem;
    width: 4.369rem;
    min-width: 4.369rem;
  }
  .divet-pb-column1 {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 24.3rem;
    left: 24.3rem;
    background-color: #fff;
    height: 34.125rem;
    text-align: left;
    font-size: 0.813rem;
    color: #333;
    font-family: "Open Sans";
  }

  

  .divet-pb-module-icon2 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .highlighting,
  .symbol4,
  .techniques {
    position: absolute;
    top: 13.775rem;
    left: 1.25rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 7.081rem;
    height: 1.7rem;
    min-width: 7.081rem;
  }
  .symbol4,
  .techniques {
    top: 15.538rem;
    width: 6.138rem;
    min-width: 6.138rem;
  }
  .symbol4 {
    top: 18.65rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime2 {
    top: 18.463rem;
    left: 2.875rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .emphasis-40,
  .enrol-anytime2,
  .symbol5 {
    position: absolute;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .symbol5 {
    top: 20.713rem;
    left: 1.25rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .emphasis-40 {
    top: 20.469rem;
    left: 2.5rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 1.119rem;
    height: 1.488rem;
    min-width: 1.119rem;
  }
  .and-effective-classic,
  .foiling-methods-to,
  .hair-types-and,
  .showcasing-the-lhas,
  .strong-course1,
  .that-can-be {
    position: absolute;
    left: 1.25rem;
    font-size: 0.813rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .strong-course1 {
    top: 22.219rem;
    width: 7.569rem;
    min-width: 7.569rem;
  }
  .and-effective-classic,
  .foiling-methods-to,
  .hair-types-and,
  .showcasing-the-lhas,
  .that-can-be {
    top: 23.769rem;
    width: 15.731rem;
  }
  .and-effective-classic,
  .foiling-methods-to,
  .hair-types-and,
  .that-can-be {
    top: 25.319rem;
    width: 13.75rem;
  }
  .foiling-methods-to,
  .hair-types-and,
  .that-can-be {
    top: 26.869rem;
    width: 15.7rem;
  }
  .hair-types-and,
  .that-can-be {
    top: 28.419rem;
    width: 15.444rem;
  }
  .hair-types-and {
    top: 29.969rem;
    width: 10.281rem;
  }
  .divet-pb-column2 {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 0;
    left: 48.6rem;
    background-color: #fff;
    height: 32.575rem;
    text-align: left;
    font-size: 1rem;
    color: #333;
    font-family: "Open Sans";
  }

  
  .divet-pb-module-icon3 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .demonstrations,
  .individual-cutting {
    margin: 0;
  }
  .individual-cutting-demonstrati-container1 {
    width: 100%;
  }
  .individual-cutting-demonstrati-container {
    position: absolute;
    top: 13.744rem;
    left: 1.25rem;
    font-size: 1.063rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 10.806rem;
    height: 3.4rem;
  }
  .symbol6 {
    top: 18.525rem;
    left: 1.25rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime3,
  .symbol6,
  .symbol7 {
    position: absolute;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .enrol-anytime3 {
    top: 18.338rem;
    left: 2.875rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .symbol7 {
    top: 20.588rem;
    left: 1.25rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .available-to-purchase,
  .choose-from-any,
  .cuts,
  .one-length-cut,
  .strong-course2,
  .workspace {
    position: absolute;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .workspace {
    top: 20.4rem;
    left: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 1.163rem;
    min-width: 1.163rem;
  }
  .available-to-purchase,
  .choose-from-any,
  .cuts,
  .one-length-cut,
  .strong-course2 {
    left: 1.25rem;
  }
  .strong-course2 {
    top: 22.094rem;
    width: 7.569rem;
    min-width: 7.569rem;
  }
  .available-to-purchase,
  .choose-from-any,
  .cuts,
  .one-length-cut {
    top: 23.644rem;
    width: 15.5rem;
  }
  .choose-from-any,
  .cuts,
  .one-length-cut {
    top: 26.194rem;
    width: 14.069rem;
  }
  .cuts,
  .one-length-cut {
    top: 27.744rem;
    width: 2.231rem;
    min-width: 2.231rem;
  }
  .one-length-cut {
    top: 29.294rem;
    width: 7.756rem;
    min-width: 7.756rem;
  }
  .long-graduation1 {
    top: 30.844rem;
    width: 8.6rem;
  }
  .discounted-when-purchased,
  .long-graduation1,
  .part-of-our,
  .short-graduation1,
  .uniform-layers1 {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .uniform-layers1 {
    top: 32.394rem;
    width: 7.631rem;
    min-width: 7.631rem;
  }
  .discounted-when-purchased,
  .part-of-our,
  .short-graduation1 {
    top: 33.938rem;
    width: 9.181rem;
  }
  .discounted-when-purchased,
  .part-of-our {
    top: 35.488rem;
    width: 14.788rem;
  }
  .part-of-our {
    top: 37.044rem;
    width: 15.169rem;
  }
  .divet-pb-column3 {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 48.6rem;
    left: 0;
    background-color: #fff;
    height: 39.644rem;
  }
  .divet-pb-module-icon4 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .curls,
  .world-of {
    margin: 0;
  }
  .world-of-curls-container1 {
    width: 100%;
  }
  .symbol8,
  .world-of-curls-container {
    position: absolute;
    top: 13.744rem;
    left: 1.25rem;
    font-size: 1.063rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 5.513rem;
    height: 3.4rem;
  }
  .symbol8 {
    top: 18.525rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime4 {
    top: 18.338rem;
    left: 2.875rem;
    font-size: 1rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .div1,
  .enrol-anytime4,
  .learn-to-create,
  .strong-course3,
  .symbol9 {
    position: absolute;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .symbol9 {
    top: 20.588rem;
    left: 1.25rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .div1,
  .learn-to-create,
  .strong-course3 {
    line-height: 1.488rem;
    height: 1.488rem;
  }
  .div1 {
    top: 20.4rem;
    left: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    width: 1.163rem;
    min-width: 1.163rem;
  }
  .learn-to-create,
  .strong-course3 {
    left: 1.25rem;
  }
  .strong-course3 {
    top: 22.094rem;
    width: 7.569rem;
    min-width: 7.569rem;
  }
  .learn-to-create {
    top: 23.644rem;
    width: 14.869rem;
  }
  .using-wands-straighteners {
    top: 25.194rem;
    width: 14.938rem;
  }
  .at-the-end,
  .be-able-to,
  .irons,
  .using-wands-straighteners {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .irons {
    top: 26.744rem;
    width: 2.65rem;
    min-width: 2.65rem;
  }
  .at-the-end,
  .be-able-to {
    top: 29.294rem;
    width: 15.981rem;
  }
  .be-able-to {
    top: 30.844rem;
    width: 13.944rem;
  }
  .classic-curls {
    top: 32.394rem;
    width: 6.675rem;
    min-width: 6.675rem;
  }
  .beachy-waves,
  .classic-curls,
  .curls-special-occasion,
  .our-most-popular {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .beachy-waves {
    top: 33.938rem;
    width: 6.825rem;
    min-width: 6.825rem;
  }
  .curls-special-occasion,
  .our-most-popular {
    top: 35.488rem;
    width: 14.519rem;
  }
  .curls-special-occasion {
    top: 37.044rem;
    width: 10.756rem;
  }
  .divet-pb-column4 {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 24.3rem;
    left: 24.3rem;
    background-color: #fff;
    height: 39.644rem;
  }
  .divet-pb-module-icon5 {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    height: 12.5rem;
    object-fit: cover;
  }
  .bridal-hair,
  .special-occasion {
    margin: 0;
  }
  .special-occasion-container1 {
    width: 100%;
  }
  .special-occasion-container,
  .symbol10 {
    position: absolute;
    top: 13.744rem;
    left: 1.25rem;
    font-size: 1.063rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 9.75rem;
    height: 3.4rem;
  }
  .symbol10 {
    top: 18.525rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 1.025rem;
    height: 1rem;
    min-width: 1.025rem;
  }
  .enrol-anytime5 {
    top: 18.338rem;
    left: 2.875rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 7.981rem;
    height: 1.488rem;
    min-width: 7.981rem;
  }
  .emphasis-65,
  .enrol-anytime5,
  .symbol11 {
    position: absolute;
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .symbol11 {
    top: 20.588rem;
    left: 1.25rem;
    line-height: 1rem;
    font-family: "Cormorant Garamond";
    color: #727272;
    width: 0.813rem;
    height: 1rem;
    min-width: 0.813rem;
  }
  .emphasis-65 {
    top: 20.344rem;
    left: 2.5rem;
    line-height: 1.488rem;
    font-weight: 600;
    width: 1.381rem;
    height: 1.488rem;
    min-width: 1.381rem;
  }
  .create-elegant-looks,
  .special-occasions,
  .strong-course4,
  .style,
  .this-unit-delivers,
  .timeless-looks-that {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .strong-course4 {
    top: 22.094rem;
    width: 7.569rem;
    min-width: 7.569rem;
  }
  .create-elegant-looks,
  .special-occasions,
  .style,
  .this-unit-delivers,
  .timeless-looks-that {
    top: 23.644rem;
    width: 15.675rem;
  }
  .special-occasions,
  .style,
  .this-unit-delivers,
  .timeless-looks-that {
    top: 25.194rem;
    width: 8.838rem;
  }
  .style,
  .this-unit-delivers,
  .timeless-looks-that {
    top: 28.231rem;
    width: 14.25rem;
  }
  .style,
  .timeless-looks-that {
    top: 29.781rem;
    width: 16rem;
  }
  .style {
    top: 31.331rem;
    width: 2.456rem;
    min-width: 2.456rem;
  }
  .world-of-curls {
    top: 32.875rem;
    width: 7.969rem;
    min-width: 7.969rem;
  }
  .curtain-bangs,
  .full-hair-up,
  .half-hair-up,
  .techniques-full,
  .world-of-curls {
    position: absolute;
    left: 1.25rem;
    line-height: 1.488rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 1.488rem;
  }
  .half-hair-up {
    top: 34.425rem;
    width: 6.425rem;
    min-width: 6.425rem;
  }
  .curtain-bangs,
  .full-hair-up,
  .techniques-full {
    top: 35.981rem;
    width: 14.063rem;
  }
  .curtain-bangs,
  .techniques-full {
    top: 37.525rem;
    width: 15.625rem;
  }
  .curtain-bangs {
    top: 39.075rem;
    width: 7.369rem;
    min-width: 7.369rem;
  }
  .divet-pb-column5 {
    position: absolute;
    width: calc(100% - 777.6px);
    top: 1.688rem;
    right: 0;
    left: 48.6rem;
    background-color: #fff;
    height: 43.106rem;
  }
  .divet-pb-row5 {
    position: absolute;
    top: calc(50% - 609.4px);
    left: calc(50% - 540px);
    width: 67.5rem;
    height: 46.481rem;
  }
  .individual-live-feedback,
  .our-online-videos,
  .strong-how,
  .train-online-from {
    position: absolute;
    top: 0.006rem;
    left: 0;
    line-height: 1.488rem;
    display: flex;
    align-items: center;
    width: 11.556rem;
    height: 1.488rem;
  }
  .individual-live-feedback,
  .our-online-videos,
  .train-online-from {
    top: 1.556rem;
    width: 66.294rem;
  }
  .individual-live-feedback,
  .our-online-videos {
    top: 3.106rem;
    width: 66.688rem;
  }
  .individual-live-feedback {
    top: 4.656rem;
    width: 32.169rem;
    height: 2.425rem;
  }
  .cpd-in-need,
  .our-online-classes,
  .perfect-professional-results,
  .strong-what,
  .strong-who {
    position: absolute;
    top: 7.144rem;
    left: 0;
    line-height: 1.488rem;
    display: flex;
    align-items: center;
    width: 13.713rem;
    height: 1.488rem;
  }
  .cpd-in-need,
  .our-online-classes,
  .perfect-professional-results,
  .strong-what {
    top: 8.694rem;
    width: 67.125rem;
  }
  .cpd-in-need,
  .perfect-professional-results,
  .strong-what {
    top: 10.244rem;
    width: 64.787rem;
  }
  .perfect-professional-results,
  .strong-what {
    top: 11.794rem;
    width: 33.688rem;
    height: 2.425rem;
  }
  .strong-what {
    top: 14.281rem;
    width: 20.95rem;
    height: 1.488rem;
  }
  .all-smart-phones,
  .along-with-our,
  .by-the-lha,
  .graded-by-our,
  .strong-all,
  .strong-video,
  .strong-with {
    position: absolute;
    top: 15.831rem;
    left: 0;
    line-height: 1.488rem;
    display: flex;
    align-items: center;
    width: 65.963rem;
    height: 1.488rem;
  }
  .all-smart-phones,
  .by-the-lha,
  .graded-by-our,
  .strong-all,
  .strong-video,
  .strong-with {
    top: 17.381rem;
    width: 67.088rem;
  }
  .all-smart-phones,
  .by-the-lha,
  .strong-all,
  .strong-video,
  .strong-with {
    top: 18.931rem;
    width: 22.969rem;
    height: 2.425rem;
  }
  .all-smart-phones,
  .strong-all,
  .strong-video,
  .strong-with {
    top: 21.419rem;
    width: 8.131rem;
    height: 1.488rem;
  }
  .all-smart-phones,
  .strong-all,
  .strong-with {
    top: 22.969rem;
    width: 23.013rem;
    height: 2.425rem;
  }
  .strong-all,
  .strong-with {
    top: 25.456rem;
    width: 67.163rem;
    height: 1.488rem;
  }
  .strong-with {
    top: 27rem;
    width: 44.95rem;
  }
  .divet-pb-column6 {
    position: absolute;
    width: calc(100% - 840px);
    top: 50.669rem;
    right: 26.25rem;
    left: 26.25rem;
    height: 34.194rem;
    color: #505050;
  }
  .article6 {
    position: absolute;
    width: 100%;
    top: 85.35rem;
    right: 0;
    left: 0;
    background-color: #fff;
    height: 82.925rem;
    text-align: left;
    font-size: 0.813rem;
    color: #333;
    font-family: "Open Sans";
  }

  






  


  






 */
